repos:
  - repo: local
    hooks:
      - id: fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        pass_filenames: false
        files: \.rs$

  - repo: local
    hooks:
      - id: clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        pass_filenames: false
        files: \.rs$

  - repo: local
    hooks:
      - id: test
        name: cargo test
        entry: cargo test
        language: system
        pass_filenames: false
        files: \.rs$

  - repo: local
    hooks:
      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check --hide-inclusion-graph
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

  - repo: local
    hooks:
      - id: cargo-udeps
        name: cargo udeps
        entry: cargo +nightly udeps
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: double-quote-string-fixer

  - repo: https://github.com/sondrelg/disallow-file-endings
    rev: v0.1.0
    hooks:
      - id: disallow-file-extensions
        args:
          - --extensions=.yml

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.1
    hooks:
      - id: actionlint
        args:
          - --shellcheck=
