[package]
name = "container-retention-policy"
version = "3.0.0-rc1"
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = { version="0.4.37" , features=["serde"]}
serde = { version = "1.0.197", features = ["derive"], default-features = false }
serde_json = { version = "1.0.115", default-features = false }
tokio = { version = "1.36.0", features = ["rt", "rt-multi-thread", "macros"], default-features = false }  # TODO: Slim down
color-eyre = { version = "0.6.3" , default-features = false}
reqwest = { version = "0.12.2", features = ["json", "rustls-tls"], default-features = false }
tower = { version = "0.4.13", features = ["limit", "buffer"], default-features = false }
clap = { version = "4.5.4", features = ["derive"]}
wildmatch = { version = "2.3.3" }
futures = { version = "0.3.30", default-features = false }
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "registry", "fmt", "ansi"], default-features = false }
tracing = { version = "0.1.40" }
url = { version = "2.5.0" , default-features = false}
lazy_static = { version = "1.4.0" , default-features = false}
rand = { version = "0.8.5" }
urlencoding = "2.1.3"
secrecy = { version = "0.8.0", features = ["serde"] }
regex = "1.10.4"
humantime = "2.1.0"

[dev-dependencies]
assert_cmd = "2.0.14"
tracing-test = "0.2.4"
