[advisories]
version = 2
yanked = "warn"
ignore = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"

[licenses]
version = 2
confidence-threshold = 0.93
allow = [
    "Unicode-DFS-2016",
    "MIT",
    "Apache-2.0",
    "ISC",
    "BSD-3-Clause",
    "OpenSSL",
    "MPL-2.0",
    "Unicode-3.0"
]

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 }
]
